BETTER_AUTH_SECRET=
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3002

NEXT_PUBLIC_BASE_URL=http://localhost:3002

DATABASE_URL=postgresql://postgres:root@localhost:5432/portfolio

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=waseemaofficial@gmail.com
SMTP_PASS=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=
AWS_S3_UPLOAD_PREFIX=

# OpenAI API Key for AI blog generation
OPENAI_API_KEY=