NEXT_PUBLIC_BETTER_AUTH_URL=
BETTER_AUTH_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:root@localhost:5432/portfolio

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=waseemaofficial@gmail.com
SMTP_PASS=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=